body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link{
  margin-left: 40px;
}

#supportHero {
  background-color: rgb(56, 126, 209);
  color: white;
  padding-bottom: 60px;
}

/* Top bar */
#supportWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 150px 0 150px;
}

#supportWrapper a {
  color: white;
  text-decoration: underline;
  font-size: 15px;
}

/* Main content spacing */
.supportContent {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 0;
}


/* Headings */
.supportTitle {
  font-size: 22px;
  margin-bottom: 20px;
  line-height: 1.4;
}

/* Search input */
#supportHero input {
  padding: 18px 20px;
  width: 100%;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  margin-bottom: 25px;
}

/* Quick links (chips) */
.supportLinks a {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 10px;
  color: white;
  text-decoration: underline;
  font-size: 14px;
}

/* Featured list */
.featuredList {
  padding-left: 20px;
  margin-left: 10px;
}

.featuredList li {
  margin-bottom: 12px;
}

.featuredList a {
  color: white;
  text-decoration: underline;
  font-size: 14px;
}
